---
import { getAriaCurrent } from '../lib/navigation';

const NAV_ITEMS = [
  // {
  //   title: "Token Lab",
  //   items: [{ url: "/token-lab", title: "Coming Soon!" }],
  // },
  {
    title: 'Guides',
    items: [{ url: '/guides/tokens', title: 'Design Tokens' }],
  },
  {
    title: 'CLI',
    items: [
      { url: '/cli', title: 'Intro' },
      { url: '/cli/config', title: 'Config' },
      { url: '/cli/migrating', title: 'Migrating from Cobalt' },

      {
        title: 'Integrations',
        url: '/cli/integrations',
        items: [
          { url: 'css', title: 'CSS' },
          { url: 'sass', title: 'Sass' },
          { url: 'js', title: 'JS/TS' },
          { url: 'json', title: 'Native Apps' },
          { url: 'tailwind', title: 'Tailwind' },
          { url: 'custom', title: 'Custom' },
        ],
      },
      {
        url: '/cli/api',
        title: 'API',
        items: [
          { url: 'plugin-development', title: 'Plugin Development' },
          { url: 'js', title: 'JS API' },
        ],
      },
    ],
  },
  {
    title: 'Components',
    items: [
      { url: '/components/button', title: 'Button' },
      { url: '/components/button-link', title: 'ButtonLink' },
      { url: '/components/color-picker', title: 'ColorPicker' },
      { url: '/components/fieldset', title: 'Fieldset' },
      { url: '/components/kbd', title: 'Kbd' },
      { url: '/components/omni-bar', title: 'OmniBar' },
      { url: '/components/subtle-input', title: 'SubtleInput' },
      { url: '/components/switch', title: 'Switch' },
      { url: '/components/token-type', title: 'TokenType' },
      { url: '/components/tooltip', title: 'Tooltip' },
    ],
  },
  {
    title: 'Reference',
    items: [
      { url: '/reference/tokens', title: 'Token Types' },
      { url: '/reference/about', title: 'About the Project' },
    ],
  },
];
---

<div class="sidenav">
  <a class="logo-link" href="/docs"
    ><svg
      class="logo"
      fill="none"
      viewBox="0 0 121 24"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="m19.9333 21.792s0 1.5596-1.7302 1.5596h-16.47285c-1.73025 0-1.73025-1.5596-1.73025-1.5596z"
        fill="#8cd10c"></path><g fill="var(--tz-color-base-gray-1200)"
        ><path
          d="m8.9733.5h-8.747783c-.124035 0-.225517.101495-.225517.225544v8.748856c0 .20074.24243.3011.384506.15901l8.748914-8.748857c.14207-.142093.04172-.384553-.15899-.384553z"
        ></path><path
          d="m19.9334 9.4744v-8.748856c0-.124049-.1015-.225544-.2255-.225544h-8.7489c-.2007 0-.3011.24246-.159.384553l8.7488 8.748857c.1421.14209.3846.04173.3846-.15901z"
        ></path><path
          d="m10.959 20.4333h8.7489c.124 0 .2255-.1015.2255-.2255v-8.7489c0-.2007-.2425-.3011-.3846-.159l-8.7488 8.7489c-.1421.1421-.0417.3845.159.3845z"
        ></path><path
          d="m8.9744 20.4333h-8.748856c-.124049 0-.225544-.1015-.225544-.2255v-8.7489c0-.2007.24246-.3011.384553-.159l8.748857 8.7489c.14209.1421.04173.3845-.15901.3845z"
        ></path><path
          d="m36.6995 10.162h-1.6973v-2.78242h1.6973v-3.15351h3.1622v3.15351h2.5345v2.78242h-2.5345v5.7458c0 .1121.0908.2026.2032.2026h2.2335v2.9091h-3.5971c-1.1053 0-2.0018-.8941-2.0018-1.9963z"
        ></path><path
          d="m43.7026 13.1999c0-3.59428 2.3949-6.21443 5.9061-6.21443 3.5113 0 5.6038 2.34163 5.6038 5.98253 0 .3941-.023.7186-.0698 1.1127h-8.4168c.2792 1.5304 1.3489 2.6201 2.9296 2.6201 1.2554 0 2.2091-.603 2.7202-1.7393l2.5813 1.1823c-1.0229 2.1564-2.9527 3.2461-5.3713 3.2461-3.4875 0-5.8824-2.5742-5.8824-6.1914zm8.5796-1.2986c-.3023-1.3912-1.1856-2.29568-2.6742-2.29568-1.4885 0-2.4178.95048-2.79 2.29568z"
        ></path><path
          d="m56.6411 7.37953h3.0693c0 .62597 0 1.13635-.0468 1.76232l.1627.02297c.6507-1.32156 1.7902-1.87789 3.0225-1.87789.2095 0 .4182.02297.6507.06963v2.85204h-1.1157c-1.6973 0-2.6043 1.0437-2.6043 2.7823v6.0285h-3.1391v-11.63987z"
        ></path><path
          d="m64.7031 7.37953h3.0693c0 .62597 0 1.13635-.0468 1.76232l.1627.02297c.6507-1.32156 1.7902-1.87789 3.0225-1.87789.2095 0 .4183.02297.6508.06963v2.85204h-1.1158c-1.6973 0-2.6043 1.0437-2.6043 2.7823v6.0285h-3.1391v-11.63987z"
        ></path><path
          d="m72.2937 13.1998c0-3.45496 2.0695-6.07511 5.2547-6.07511 1.5116 0 2.6971.62597 3.5343 1.97121l.1627-.02298c-.0468-.58001-.0468-1.0897-.0468-1.69269h3.0923v11.64057h-3.0923c0-.6489 0-1.0667.0468-1.6927l-.1627-.0466c-.8602 1.3912-2.1623 2.0172-3.6502 2.0172-3.1391 0-5.1388-2.7128-5.1388-6.0982zm8.9286 0c0-1.9245-1.1394-3.26975-2.9296-3.26975s-2.8599 1.41415-2.8599 3.26975c0 1.8557 1.0927 3.2698 2.8599 3.2698 1.7671 0 2.9296-1.3452 2.9296-3.2698z"
        ></path><path
          d="m85.5637 18.8579 5.5801-8.7419h-4.8826v-2.73642h9.7658l.0698.13926-5.6038 8.74196h5.511v2.7594h-10.3705z"
        ></path><path
          d="m96.5789 18.8579 5.5801-8.7419h-4.8826v-2.73642h9.7656l.07.13926-5.604 8.74196h5.511v2.7594h-10.3703z"
        ></path><path
          d="m107.75 13.1999c0-3.59428 2.464-6.21443 6.045-6.21443 3.58 0 6.046 2.59717 6.046 6.19143 0 3.5943-2.465 6.2144-6.046 6.2144s-6.045-2.5972-6.045-6.1914zm8.998-.023c0-1.8779-1.139-3.38537-2.952-3.38537-1.814 0-2.953 1.50747-2.953 3.40837 0 1.9008 1.116 3.3853 2.953 3.3853 1.836 0 2.952-1.5074 2.952-3.4083z"
        ></path></g
      ></svg
    ></a
  >

  <nav class="nav" aria-label="Table of Contents">
    {
      NAV_ITEMS.map((section) => (
        <li class="section">
          <h4 class="section-title">{section.title}</h4>
          <ul class="section-nav">
            {section.items?.map((item) => {
              const url = `/docs${item.url}`;
              return (
                <li class="nav-item">
                  {item.items ? (
                    <details class="details">
                      <summary class="summary">
                        <a
                          class="nav-link"
                          href={url}
                          aria-current={getAriaCurrent(url, Astro.request.url)}
                        >
                          <span class="nav-link-highlight">{item.title}</span>
                        </a>
                      </summary>
                      <ul class="nav-subnav">
                        {(item.items ?? []).map((subitem) => {
                          const subURL = [url, subitem.url].join("/");
                          return (
                            <li class="nav-subitem">
                              <a
                                class="nav-sublink"
                                href={subURL}
                                aria-current={getAriaCurrent(
                                  subURL,
                                  Astro.request.url
                                )}
                              >
                                <span class="nav-link-highlight">
                                  {subitem.title}
                                </span>
                              </a>
                            </li>
                          );
                        })}
                      </ul>
                    </details>
                  ) : (
                    <a
                      class="nav-link"
                      href={url}
                      aria-current={getAriaCurrent(url, Astro.request.url)}
                    >
                      <span class="nav-link-highlight">{item.title}</span>
                    </a>
                  )}
                </li>
              );
            })}
          </ul>
        </li>
      ))
    }
  </nav>
</div>

<style>
  .sidenav {
    --grid: var(--tz-space-500);

    color: var(--tz-surface-secondary-text);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .logo {
    height: 1.5rem;
    width: auto;
  }

  .logo-link {
    display: flex;
    padding: var(--grid);
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: var(--grid);
    list-style: none;
  }

  .nav-item,
  .section,
  .section-nav,
  .nav-subnav,
  .nav-subitem {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .section-title {
    color: var(--tz-text-primary);
    font-size: var(--tz-typography-300-medium-font-size);
    font-weight: var(--tz-typography-300-medium-font-weight);
    line-height: var(--tz-typography-300-medium-line-height);
    margin: 0 var(--grid) var(--tz-space-200);
  }

  .nav-link,
  .nav-sublink {
    align-items: center;
    color: var(--tz-color-base-gray-1000);
    display: flex;
    font-size: var(--tz-typography-200-regular-font-size);
    height: var(--tz-size-s-height);
    text-decoration: none;
    padding-inline: var(--grid);

    &:hover {
      background-color: transparent;

      .nav-link-highlight {
        background-color: color-mix(
          in oklab,
          var(--tz-nav-primary-selected-bg),
          transparent 50%
        );
        color: var(--tz-nav-primary-selected-text);
      }
    }

    &[aria-current="page"] > .nav-link-highlight {
      background-color: var(--tz-nav-primary-selected-bg);
      color: var(--tz-nav-primary-selected-text);
    }
  }

  .nav-link-highlight {
    display: flex;
    margin-inline-start: calc(-0.5 * var(--grid));
    padding-block: calc(0.25 * var(--grid));
    padding-inline: calc(0.5 * var(--grid));
  }

  .nav-sublink {
    font-size: var(--tz-typography-200-regular-font-size);
    opacity: 0.8;
    padding-inline-start: var(--grid);

    > .nav-link-highlight {
      border-inline-start: 1px solid var(--tz-color-base-gray-500);
      margin-left: 0;
      padding-block: calc(0.25 * var(--grid));
    }

    &:hover {
      border-color: var(--tz-color-ui-nav-active);
      opacity: 1;

      > .nav-link-highlight {
        border-color: var(--tz-nav-primary-selected-text);
      }
    }

    &[aria-current] {
      border-color: var(--tz-color-ui-nav-active);
      opacity: 1;
    }
  }

  .summary {
    display: flex;
    gap: var(--tz-space-200);
    padding: 0;
    position: relative;

    &:hover {
      background-color: var(--tz-color-base-gray-300);
    }

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      background-image: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="rgb(177, 177, 177)" xmlns="http://www.w3.org/2000/svg"><path d="M3.13523 6.15803C3.3241 5.95657 3.64052 5.94637 3.84197 6.13523L7.5 9.56464L11.158 6.13523C11.3595 5.94637 11.6759 5.95657 11.8648 6.15803C12.0536 6.35949 12.0434 6.67591 11.842 6.86477L7.84197 10.6148C7.64964 10.7951 7.35036 10.7951 7.15803 10.6148L3.15803 6.86477C2.95657 6.67591 2.94637 6.35949 3.13523 6.15803Z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
      content: "";
      display: flex;
      position: absolute;
      right: 0;
      height: 100%;
      width: var(--tz-space-800);
    }

    .nav-link {
      margin-inline-start: var(--tz-space-300);
      padding-inline: var(--tz-space-300);
      width: min-content;
    }
  }

  .details[open] .summary::after {
    transform: rotate(0.5turn);
  }
</style>
