---
import '@terrazzo/tokens/index.css';
import '@terrazzo/fonts/fragment-mono.css';
import '@terrazzo/fonts/instrument-sans.css';
import '@terrazzo/tiles/dist/all-components.css';
import '@terrazzo/react-color-picker/dist/styles.css';
import '../styles/app.css';

const {
  title,
  description = 'Design systems for everyone. MIT Licensed tools for developing and managing design systems. Use the W3C design token format to build multi-platform apps quickly and easily.',
  socialImage = `${Astro.site}/assets/social-image.png`,
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {
    title
      ? `${title} ⛋ Terrazzo`
      : `Terrazzo: tools for token management and code generation`
  }
</title>
<link rel="icon" href="/favicon.ico" />
<link rel="canonical" href={`${Astro.site?.origin}${Astro.url.pathname}`} />
<meta name="description" content={description} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:url" content={`${Astro.site?.origin}${Astro.url.pathname}`} />
<meta name="og:type" content="website" />
<meta name="og:site_name" content="Terrazzo" />
<meta name="og:locale" content="en_US" />
{
  socialImage && (
    <>
      <meta name="og:image" content={socialImage} />
      <meta name="twitter:image" content={socialImage} />
    </>
  )
}
